---
rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-line-at-end-of-file: {}
  new-lines:
    type: unix
  trailing-spaces: {}
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
